<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Detect - MediApp</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">MediApp</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://www.github.com/siddharth1012/MediApp">GitHub</a></li>
                            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/siddharthsaraswat1">Connect With Me</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h2 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Detectors</span></h2>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Malaria</h2>
                                            <p>According to WHO their are 212 Million malaria cases and 435000 deaths.Early diagnostics of malaria can prevents deaths.</p>
                                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                                <a class="text-gradient btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="malaria.html">Detect</a>
                                            </div>
                                        </div>
                                        <img class="img-fluid" src="/static/assets/malaria.png" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Breast Cancer</h2>
                                            <p>Breast cancer is a cancer that develops from breast tissue. Signs of breast cancer may include a lump in the breast, a change in breast shape, dimpling of the skin, milk rejection.</p>
                                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                                <a class="text-gradient btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="breast_cancer.html">Detect</a>
                                            </div>
                                        </div>
                                        <img class="img-fluid" src="/static/assets/breast_cancer.png" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 3-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Retinal OCT</h2>
                                            <p>Retinal optical coherence tomography (OCT) is an imaging technique used to capture high-resolution cross sections of the retinas of living patients.</p>
                                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                                <a class="text-gradient btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="oct.html">Detect</a>
                                            </div>
                                        </div>
                                        <img class="img-fluid" src="/static/assets/oct.png" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 4-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Brain Tumor</h2>
                                            <p>A brain tumor is a mass of abnormal cells in the brain1. Symptoms of a brain tumor include headaches, weakness in the limbs, difficulty in routine activities noticeable changes in senses like taste and smell.</p>
                                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                                <a class="text-gradient btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="brain_tumor.html">Detect</a>
                                            </div>
                                        </div>
                                        <img class="img-fluid" src="/static/assets/brain.png" alt="..." />
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 5-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Diabetic Retinopathy</h2>
                                            <p>Diabetic retinopathy, is a medical condition in which damage occurs to the retina due to diabetes mellitus.</p>
                                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                                <a class="text-gradient btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="diabetes.html">Detect</a>
                                            </div>
                                        </div>
                                        <img class="img-fluid" src="/static/assets/retina.jpg" alt="..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
                        <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="https://www.linkedin.com/in/siddharthsaraswat1">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; MediApp 2024</div></div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
